<nav class="flex items-center gap-5 p-3 bg-gray-200 dark:bg-gray-800 dark:text-white" id="step10">
  <h1>ClickingFF7</h1>
  <a routerLink="/game" routerLinkActive="active">
    {{"Game"|translate}}
  </a>
  <a routerLink="/map" routerLinkActive="active">
    {{"Map"|translate}}<span *ngIf="displayNextZone">*</span>
  </a>
  <a routerLink="/shop" routerLinkActive="active">
    {{"Shop"|translate}}
  </a>
  <a routerLink="/equip" routerLinkActive="active">
    {{"Equip"|translate}}
  </a>
  <a routerLink="/materia" routerLinkActive="active">
    {{"Materia"|translate}}
  </a>
  <a routerLink="/items" routerLinkActive="active">
    {{"Items"|translate}}
  </a>
  <a routerLink="/config" routerLinkActive="active">
    {{"Config"|translate}}
  </a>
  <a routerLink="/phs" routerLinkActive="active" *ngIf="displayPhs">
    {{"PHS"|translate}}
  </a>
  <a routerLink="/save" routerLinkActive="active">
    {{"Save"|translate}}
  </a>
  <div class="flex-grow"></div>
  <div>
    <div class="cursor-pointer" (click)="help()">
      <span class="material-icons-outlined">
        help
      </span>
    </div>
  </div>
  <div>
    <div class="cursor-pointer" (click)="toggleDark()">
      <span *ngIf="theme === 'light'" class="material-icons-outlined">
        light_mode
      </span>
      <span *ngIf="theme === 'dark'" class="material-icons-outlined">
        dark_mode
      </span>
    </div>
  </div>
</nav>
