<app-ui-layout-default>
  <div class="grid grid-cols-5 gap-x-4">
    <div class="col-span-2">
      <h3>{{ "Team" | translate }}</h3>

      @for (character of team.list; track $index) {
        <div class="phs_character">
          <img
            [src]="character.image"
            alt="character"
            width="80"
            class="float-left cursor-pointer"
            (click)="leaveTeam(character)"
            (keypress)="leaveTeam(character)"
            tabindex="0"
          />

          <div class="main">
            <div>
              {{ character.ref }}
            </div>
            <div>
              <span class="label">hp</span> {{ character.hpBase }}
              <span class="label">mp</span> {{ character.mpBase }}
              <span class="label">pwr</span> {{ character.getHits() }}
            </div>
          </div>
          <div style="clear: left"></div>
        </div>
      }
    </div>

    <div class="col-span-2">
      <h3>{{ "Backup" | translate }}</h3>

      @for (character of characters; track $index) {
        @if (!inTeam(character)) {
          <span class="phs_character">
            <img
              [src]="character.image"
              alt="character"
              width="80"
              class="float-left cursor-pointer"
              (click)="joinTeam(character)"
              (keypress)="joinTeam(character)"
              tabindex="0"
            />
          </span>
        }
      }
    </div>
  </div>
</app-ui-layout-default>
