<div class="c2">

  <table style="width: 100%">

    <tr>
        <th>{{'Name'|translate}}</th>
        <th>{{'In stock'|translate}}</th>
        <th class="total">
          {{nbrItems}} <span class="b">/ {{MAX_ITEMS}}</span>
        </th>
    </tr>


    <tr *ngFor="let item of list" class="item">
      <td>
        <img src="/assets/images/icons/item.gif"/>
        {{'It. '+item.name+' name'|translate}}<br />
        <span class="desc">{{'It. '+item.name+' desc'|translate}}</span>
      </td>
      <td>{{item.nbr}}</td>
      <td class="total">
        <span (click)="unequipItem(item)" *ngIf="item.equipped" class="hover">
          ❌
        </span>
        <span (click)="equipItem(item)" *ngIf="canEquipItem(item)" class="hover">
          ➕
        </span>
      </td>
    </tr>

    <tr *ngIf="list.length === 0" class="nothing">
      <td colspan="4">{{"No items"|translate}}</td>
    </tr>

  </table>
</div>
