<div class="relative mb-1" id="{{ id }}" class="bar bar-{{ name }}">
  <!-- <div class="flex h-5 overflow-hidden rounder" [class]="name"> -->
  <div [style.width]="progress + '%'" class="progress"></div>
  <div [style.width]="progressBg + '%'" class="progress-bg"></div>
  <div class="label">{{ text }}</div>
  @for (hits of arrHits; track $index) {
    <div @fadeIn (@fadeIn.done)="doneAnimation(hits.id)" class="absolute top-0 right-0 text-3xl text-red-600 hits">
      {{ hits.hits }}
    </div>
  }
</div>
