<div class="col-span-2">
  <!-- characters bars -->
  <app-progress-bar
    [id]="'step2'"
    [progress]="round((team.hp / team.hpMax) * 100)"
    [text]="'HP ' + team.hp"
    [name]="'hp'"
    [hits]="team.source.hp"
  ></app-progress-bar>

  <app-progress-bar
    [id]="'step3'"
    [progress]="round((team.mp / team.mpMax) * 100)"
    [text]="'MP ' + team.mp"
    [name]="'mp'"
  ></app-progress-bar>

  <app-progress-bar
    [id]="'step4'"
    [progress]="round((team.limit / team.limitMax) * 100)"
    [text]="'LIMIT ' + round((team.limit / team.limitMax) * 100) + '%'"
    [name]="'limit'"
  ></app-progress-bar>

  <!-- characters list -->
  <div id="step1">
    <div *ngFor="let character of team.list" class="flex gap-4 mt-5">
      <div
        [style]="{ 'background-image': 'url(' + character.image + ')' }"
        class="relative flex-none w-20 h-20 bg-center bg-cover border border-black"
      >
        <div
          class="absolute bottom-0 left-0 right-0 h-5 text-center bg-black opacity-75"
        >
          <span class="text-sm text-white"> LVL{{ character.level }} </span>
        </div>
      </div>

      <div class="grow">
        <app-progress-bar
          [progress]="round((character.xp / character.getXpMax()) * 100)"
          [text]="character.xp + ' / ' + character.getXpMax() + 'EXP'"
          [name]="'exp'"
        ></app-progress-bar>

        <div class="text-2xl">{{ character.ref }}</div>
        <div class="text-sm italic">"{{ getLine(character) | translate }}"</div>
      </div>
    </div>
  </div>
</div>
