<div class="col-span-2">
  <!-- characters bars -->
  <app-progress-bar
    [id]="'step2'"
    [progress]="round((characters.hp / characters.hpMax) * 100)"
    [text]="'HP ' + characters.hp"
    [name]="'hp'"
    [hits]="characters.source.hp"
  ></app-progress-bar>

  <app-progress-bar
    [id]="'step3'"
    [progress]="round((characters.mp / characters.mpMax) * 100)"
    [text]="'MP ' + characters.mp"
    [name]="'mp'"
  ></app-progress-bar>

  <app-progress-bar
    [id]="'step4'"
    [progress]="round((characters.limit / characters.limitMax) * 100)"
    [text]="
      'LIMIT ' + round((characters.limit / characters.limitMax) * 100) + '%'
    "
    [name]="'limit'"
  ></app-progress-bar>

  <!-- characters list -->
  <div id="step1">
    <div *ngFor="let character of characters.getTeam()" class="flex gap-4 mt-5">
      <div class="relative">
        <img
          src="{{ character.image }}"
          alt="avatar"
          width="80"
          class="inline-block"
        />
        <div
          class="absolute bottom-0 left-0 right-0 h-5 text-center bg-black opacity-75"
        >
          <span class="text-sm text-white"> LVL{{ character.level }} </span>
        </div>
      </div>

      <div class="flex-grow">
        <app-progress-bar
          [progress]="round((character.xp / character.getXpMax()) * 100)"
          [text]="character.xp + ' / ' + character.getXpMax() + 'EXP'"
          [name]="'exp'"
        ></app-progress-bar>

        <div class="text-2xl">{{ character.name }}</div>
        <div class="text-sm italic">"{{ getLine(character) | translate }}"</div>
      </div>
    </div>
  </div>
</div>
