// a, a:visited {
//   @apply text-xl text-gray-400 uppercase;

//   &:hover {
//     @apply text-gray-700 dark:text-red-400;
//   }

//   &.active {
//     @apply text-black dark:text-white;
//   }
// }
