<div class="grid grid-cols-5 gap-x-4">

  <div>
    <div class="flex flex-col gap-1">
      <button class="button" *ngFor="let zone of game.zones.list" [class.current]="game.zones.level === zone.level"
        (click)="game.zones.goZone(zone.level)">
        {{'Zone'|translate}} {{zone.level}}
      </button>
    </div>
  </div>

  <div class="col-span-2">

    <div class="flex gap-2">
      <img class="w-32" [src]="game.zones.current().image" alt="current_zone" />

      <div>
        <div class="">
          {{"Zone "+game.zones.current().level+" name"|translate}}
          <strong>(#{{game.zones.current().level}})</strong>
        </div>

        <div class="text-sm">
          {{'Zone '+game.zones.current().level+' desc'|translate}}
        </div>
      </div>
    </div>

  </div>

  <div class="col-span-2">

    <div class="uppercase text-gray-400 text-center" *ngIf="!game.zones.current().completed">
        {{"Not completed"|translate}}
    </div>

    <div class="no-data" *ngIf="game.zones.current().completed">
      <div>{{"Completed"|translate}}</div>
      <div *ngIf="game.zones.isNextZone()" (click)="game.zones.goNextZone()" class="button">
        {{"Go next zone"|translate}}
      </div>
    </div>
  </div>

</div>
