.label {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 15;
  font-size: 0.7em;
}

.hits {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
  animation: hit-fade 1s ease-out forwards;
}

@keyframes hit-fade {
  0% {
    opacity: 1;
    transform: translateY(-20px);
  }

  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}
