<div class="grid grid-cols-5 gap-x-4">

  <div>
    <div class="flex flex-col gap-1">
      <button class="button"
              *ngFor="let character of team"
              (click)="selectCharacter(character)"
              [class.current]="selected && selected.name === character.name">
        {{character.name}}
      </button>
    </div>
  </div>

  <div class="col-span-2" *ngIf="selected">

    <img [src]="selected.image" width="80" alt="current_character" class="float-left"/>

    <div class="ml-24">
      <div>{{selected.name}} <strong>(LVL{{selected.level}})</strong></div>
      <div *ngIf="selected.level > 0">
        <span class="label">hp</span> {{selected.getHpMax()}}
        <span class="label">mp</span> {{selected.getMpMax()}}
        <span class="label">pwr</span> {{selected.getHits()}}
      </div>

      <p class="mt-3">
        <img class="icon" src="/assets/images/icons/weapons/{{selected.weapon.type}}.png" />
        {{selected.weapon.name}}
      </p>

      <p class="desc ml-4">
        {{"Power"|translate}} {{selected.weapon.hits}}<br />
        {{"Nb materia"|translate}} +{{selected.weapon.maxMaterias}}
      </p>
    </div>

  </div>

  <div class="col-span-2" *ngIf="selected">
    <table style="width: 100%">
      <tr>
        <th>{{"Name"|translate}}</th>
        <th></th>
      </tr>
      <tr *ngFor="let weapon of weapons" class="weapon">
        <td>{{weapon.name}}</td>
        <td>
          <button class="button" (click)="equipWeapon(weapon)" [disabled]="!canEquipWeapon(weapon)">
            {{"Equip"|translate}}
          </button></td>
      </tr>
    </table>
  </div>

</div>
