<div class="grid grid-cols-5 gap-x-4">

  <div>
    <div class="flex flex-col gap-1">
      <button class="button"
              *ngFor="let character of team"
              (click)="selectCharacter(character)"
              [class.current]="selected && selected.name === character.name">
        {{character.name}}
      </button>
    </div>
  </div>

  <div class="col-span-2" *ngIf="selected">

    <img [src]="selected.image" width="80" alt="current_character" style="float: left"/>

    <div class="main">
      <div>{{selected.name}} <strong>(LVL{{selected.level}})</strong></div>
      <div *ngIf="selected.level > 0">
        <span class="label">hp</span> {{selected.getHpMax()}}
        <span class="label">mp</span> {{selected.getMpMax()}}
        <span class="label">pwr</span> {{selected.getHits()}}
      </div>

      <p>
        {{"Equipped weapon"|translate}}<br/>
        <img src="/assets/images/icons/weapons/{{selected.weapon.type}}.png" />
        {{selected.weapon.name}}
        <span class="desc">({{"Power"|translate}} {{selected.weapon.hits}})</span>
      </p>

      <p>
        {{"Nb materia"|translate}} +{{selected.weapon.maxMaterias}}
      </p>
    </div>

  </div>

  <div class="col-span-2" *ngIf="selected">
    <div *ngIf="otherWeapons.length !== 0">
      <table style="width: 100%">
        <tr>
          <th>{{"Name"|translate}}</th>
          <th></th>
        </tr>
        <tr *ngFor="let weapon of otherWeapons" class="weapon">
          <td>{{weapon.name}}</td>
          <td><span (click)="equipWeapon(weapon)" class="button">{{"Equip"|translate}}</span></td>
        </tr>
      </table>
    </div>

    <div class="no-data" *ngIf="otherWeapons.length === 0">
        {{"No weapons"|translate}}
    </div>
  </div>

</div>
