<footer class="bg-gray-200 dark:bg-gray-800 text-gray-400 pt-2 text-sm">
  <div class="container mx-auto text-center">
    <div>
      ©2014 <a href="http://menencia.com" target="_blank">menencia.com</a>, version <a
        href="https://github.com/Menencia/clickingff7/releases"
        target="_blank" id="step12">{{version}}</a>
    </div>
    <div>
      <a href="https://github.com/Menencia/clickingff7" target="_blank">Github</a> -
      <a href="https://github.com/Menencia/clickingff7/issues" target="_blank">Browse Issues</a> -
      <a href="https://github.com/Menencia/clickingff7/issues/new" target="_blank" id="step13">New Issue</a>
    </div>
  </div>
</footer>
