<div class="grid grid-cols-5 gap-x-4">

  <div>
    <div class="flex flex-col gap-1">
      <button class="button" (click)="fightRandom()" [class.disabled]="game.battle.isBattle" id="step6">
        {{"Fight random"|translate}}
      </button>
      <button class="button" (click)="fightBoss()" [class.disabled]="!game.battle.canFightBoss()">
        <div class="float-right text-red-700" *ngIf="game.battle.canFightBoss()">NEW</div>
        {{"Fight boss"|translate}}
      </button>
      <button class="button" (click)="attack()"
      [class]="{disabled: !game.battle.isBattle, limit: game.characters.canLimit()}" id="step7">
        <span *ngIf="!game.characters.canLimit()">{{"Attack"|translate}}</span>
        <span *ngIf="game.characters.canLimit()">{{"Limit"|translate}}</span>
      </button>
      <button class="button" (click)="escape()" [class.disabled]="!game.battle.isBattle" id="step8">
        {{"Escape"|translate}}
      </button>
    </div>

    <div class="flex flex-col gap-1 mt-5" id="step9">
      <button
        class="button flex flex-row items-center"
        *ngFor="let materia of game.materias.getEquipped()"
        (click)="materia.action()"
        [class.disabled]="!materia.canUse()">
        <img class="flex-none" src="/assets/images/icons/materias/{{materia.color}}.gif" />
        <div class="flex-grow">
          {{'Mat. '+materia.name+' name'|translate}}
        </div>
        <span class="flex-none">{{materia.getMpCost()}}</span>
      </button>
    </div>

    <div class="flex flex-col mt-5" *ngIf="game.items.getEquipped().length > 0" id="step10">
      <button
        class="button flex flex-row items-center"
        *ngFor="let item of game.items.getEquipped()"
        (click)="item.action()"
        [class.disabled]="!item.canUse()">
        <div class="flex-grow">{{'It. '+item.name+' name'|translate}}</div>
        <div class="flex-none">{{item.nbr}}</div>
    </button>
    </div>
  </div>

  <div class="col-span-2">
    <!-- characters bars -->
    <div class="float-right">
      <div class="hit hit_{{index+1}}" *ngFor="let hit of game.enemies.arrHits; let index = index">{{hit}}</div>
    </div>

    <div>
      <div class="relative border-gray-300 w-80 h-5 border-t" id="step2">
        <div class="bg-green-300 h-2"
          [style.width]="game.characters.hpProgress(300) + 'px'"></div>
        <span class="absolute top-0 right-0 text-xs">{{game.characters.hp}} / {{game.characters.hpMax}} HP</span>
      </div>
    </div>

    <div>
      <div class="relative border-gray-300 w-80 h-5 border-t" id="step3">
        <div class="bg-blue-300 h-2"
          [style.width]="game.characters.mpProgress(300) + 'px'"></div>
        <span class="absolute top-0 right-0 text-xs">{{game.characters.mp}} / {{game.characters.mpMax}} MP</span>
      </div>
    </div>

    <div>
      <div class="relative border-gray-300 w-80 h-5 border-t" id="step4">
        <div class="bg-red-300 h-2"
          [style.width]="game.characters.limitProgress(300) + 'px'"></div>
        <span class="absolute top-0 right-0 text-xs">LIMIT</span>
      </div>
    </div>

      <!-- characters list -->
    <div id="step1">
      <div *ngFor="let character of game.characters.getTeam()" class="mt-5">
        <div class="float-left">
          <img src="{{character.image}}" alt="avatar" width="80" class="icon"/>
        </div>

        <div class="ml-24">
          <div class="relative border-gray-300 w-60 h-3 border-t">
            <div class="bg-purple-300 h-2" [style.width]="character.xpProgress(200) + 'px'"></div>
            <span class="absolute top-0 right-0 text-sm">{{character.xp}} / {{character.getXpMax()}} EXP</span>
          </div>

          <div>{{character.name}} <span class="bg-purple-600 text-white rounded text-sm px-1">LVL{{character.level}}</span></div>
          <div *ngIf="character.level > 0">
            <span class="">hp</span> {{character.getHpMax()}}
            <span class="">mp</span> {{character.getMpMax()}}
            <span class="">pwr</span> {{character.getHits()}}
          </div>
          <div class="text-sm italic">"{{character.getLine()|translate}}"</div>
        </div>

        <div class="clear-left"></div>
      </div>
    </div>
  </div>

  <div class="col-span-2" id="step5">
    <!-- enemies bars -->
    <div class="bars" *ngIf="game.enemies.list.length > 0">
      <div class="characters_hits">
        <div class="hit hit_{{index+1}}" *ngFor="let hit of game.characters.arrHits; let index = index">{{hit}}
        </div>
      </div>

      <div class="progress enemy_hp">
        <div class="enemy_hp_progress" [style.width]="game.enemies.hpProgress(300) + 'px'"></div>
        <span class="bar-label">{{game.enemies.hp}} / {{game.enemies.hpMax}} HP</span>
      </div>
    </div>

    <div *ngIf="game.enemies.list.length === 0" class="text-gray-300 uppercase text-center mt-10">
      {{"No enemies"|translate}}
    </div>

      <!-- enemies list -->
      <div *ngFor="let enemy of game.enemies.list" class="card_enemy">
        <div class="avatar_enemy">
          <img [src]="enemy.image" alt="avatar" height="80" />
        </div>
        <!--
                    -->
        <div class="main_enemy">

          <div>{{enemy.name}} <strong>(LVL{{enemy.level}})</strong>
              <span *ngIf="enemy.boss" class="boss">ZONE BOSS</span>
              <span *ngIf="enemy.miboss" class="boss">BOSS</span>
          </div>

          <div>
              <span class="label">hp</span> {{enemy.getHpMax()}}
              <span class="label">pwr</span> {{enemy.getHits()}}
          </div>
          <div>
              <span class="label">xp</span> {{enemy.xpReward()}}
              <span class="label">ap</span> {{enemy.apReward()}}
              <span class="label">gils</span> {{enemy.gilsReward()}}
          </div>
          <div *ngIf="enemy.weakness.length > 0">
              {{'Weakness'|translate}}
              <img *ngFor="let weakness of enemy.weakness" src="/assets/images/icons/elements/{{weakness}}.png" class="weakness" />
          </div>
          <div *ngIf="enemy.resistance.length > 0">
              {{'Resistance'|translate}}
              <img *ngFor="let resistance of enemy.resistance" src="/assets/images/icons/elements/{{resistance}}.png" class="resistance" />
          </div>
        </div>

        <div style="clear: left"></div>
      </div>
  </div>

</div>
