<app-ui-layout-default>

  <div class="flex ">

    <app-ui-actions></app-ui-actions>

    <div class="w-2/5">
      <div class="flex">

        <div class="w-36">
          <img *ngFor="let character of characters.getTeam()"
              src="{{character.image}}"
              class="w-12 inline-flex"/>
        </div>
        <div class="w-4/5">
          <!-- characters bars -->
          <app-ui-bar
            [id]="'step2'"
            [progress]="round(characters.hp / characters.hpMax * 100)"
            [text]="'HP ' + characters.hp"
            [name]="'hp'"
            [hits]="characters.source.hp"
          ></app-ui-bar>

          <app-ui-bar
            [id]="'step3'"
            [progress]="round(characters.mp / characters.mpMax * 100)"
            [text]="'MP ' + characters.mp"
            [name]="'mp'"
          ></app-ui-bar>

          <app-ui-bar
            [id]="'step4'"
            [progress]="round(characters.limit / characters.limitMax * 100)"
            [text]="'LIMIT ' + round(characters.limit / characters.limitMax * 100) + '%'"
            [name]="'limit'"
          ></app-ui-bar>
        </div>
      </div>

      <div class="flex" id="step5">
        <div class="w-36">
          <img *ngFor="let enemy of enemies.list"
               src="{{enemy.image}}"
               class="w-12 inline-flex"/>
        </div>
        <!-- enemies bars -->
        <div class="w-4/5" *ngIf="enemies.list.length > 0">
          <app-ui-bar
            [progress]="round(enemies.hp / enemies.hpMax * 100)"
            [text]="'HP ' + enemies.hp"
            [name]="'hp'"
            [hits]="enemies.source.hp"
          ></app-ui-bar>
        </div>

        <!-- <div *ngIf="enemies.list.length === 0" class="text-gray-300 uppercase text-center mt-10">
          {{"No enemies"|translate}}
        </div> -->
      </div>
    </div>

    <div class="w-2/5" id="step5">HISTORIC</div>

  </div>

</app-ui-layout-default>
