<ul
  class="menu bg-base-200 rounded-box w-full"
  [class.menu-horizontal]="horizontal()"
>
  <li>
    <a href="game" routerLink="/game" routerLinkActive="menu-active">
      {{ "Game" | translate }}
    </a>
  </li>

  <li>
    <a href="team" routerLink="/team" routerLinkActive="menu-active">
      {{ "Team" | translate }}
    </a>
  </li>

  <li>
    <a href="map" routerLink="/map" routerLinkActive="menu-active">
      {{ "Map" | translate }}
      @if (displayNextZone()) {
      <span>*</span>
      }
    </a>
  </li>

  <li>
    <a href="shop" routerLink="/shop" routerLinkActive="menu-active">
      {{ "Shop" | translate }}
    </a>
  </li>

  <li>
    <a href="equip" routerLink="/equip" routerLinkActive="menu-active">
      {{ "Equip" | translate }}
    </a>
  </li>

  <li>
    <a href="materia" routerLink="/materia" routerLinkActive="menu-active">
      {{ "Materia" | translate }}
    </a>
  </li>

  <li>
    <a href="items" routerLink="/items" routerLinkActive="menu-active">
      {{ "Items" | translate }}
    </a>
  </li>

  <li>
    <a href="config" routerLink="/config" routerLinkActive="menu-active">
      {{ "Config" | translate }}
    </a>
  </li>

  <li>
    <a href="save" routerLink="/save" routerLinkActive="menu-active">
      {{ "Save" | translate }}
    </a>
  </li>
</ul>
