<ul
  class="menu bg-base-200 rounded-box w-full"
  [class.menu-horizontal]="horizontal()"
>

  <li>
    <a routerLink="/game" routerLinkActive="menu-active">
      {{ "Game" | translate }}
    </a>
  </li>

  <li>
    <a routerLink="/team" routerLinkActive="menu-active">
      {{ "Team" | translate }}
    </a>
  </li>

  <li>
    <a routerLink="/map" routerLinkActive="menu-active">
      {{ "Map" | translate }}
      @if (displayNextZone()) {
        <span>*</span>
      }
    </a>
  </li>

  <li>
    <a routerLink="/shop" routerLinkActive="menu-active">
      {{ "Shop" | translate }}
    </a>
  </li>

  <li>
    <a routerLink="/equip" routerLinkActive="menu-active">
      {{ "Equip" | translate }}
    </a>
  </li>

  <li>
    <a routerLink="/materia" routerLinkActive="menu-active">
      {{ "Materia" | translate }}
    </a>
  </li>

  <li>
    <a routerLink="/items" routerLinkActive="menu-active">
      {{ "Items" | translate }}
    </a>
  </li>

  <li>
    <a routerLink="/config" routerLinkActive="menu-active">
      {{ "Config" | translate }}
    </a>
  </li>

  <li>
    <a routerLink="/save" routerLinkActive="menu-active">
      {{ "Save" | translate }}
    </a>
  </li>
</ul>
