.bar {
  position: relative;
  height: 20px;
}

.progress,
.progress-bg{
  position: absolute;
  top: 0;
  bottom : 0;
}

.progress {
  z-index: 10;
}

.progress-bg {
  z-index: 5;
  transition: width 0.3s ease-in-out;
}

.label {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 15;
  font-size: 0.7em;
}

.bar-hp {
  @apply bg-green-50 dark:bg-gray-700;
  .progress {
    @apply bg-green-200 dark:bg-green-600;
  }
  .progress-bg {
    background-color: rgb(224, 136, 136);
  }
  .hits {
    z-index: 20;
  }
}

.bar-mp {
  @apply bg-blue-50 dark:bg-gray-700;
  .progress {
    @apply bg-blue-200 dark:bg-blue-600;
  }
  .hits {
    z-index: 25;
  }
}

.bar-limit {
  @apply bg-red-50 dark:bg-gray-700;
  .progress {
    @apply bg-red-200 dark:bg-red-700;
  }
  .hits {
    z-index: 30;
  }
}

.bar-exp {
  @apply bg-purple-50 dark:bg-gray-700;
  .progress {
    @apply bg-purple-200 dark:bg-purple-700;
  }
  .hits {
    z-index: 35;
  }
}
