<header>
  <div class="wrapper">
    clicking ff7
    <span ng-click="help()" class="help" *ngIf="game.loaded">{{"How to play?"|translate}}</span>
    <div class="progress game_load" *ngIf="!game.loaded">
      <!-- <div class="game_load_progress" style="width:{{game.loader.loadProgress(300)}}px;"></div>
      <span class="bar-label">{{game.loader.filesLoaded}} / {{game.loader.nbFiles}} – {{game.loader.currentLabel}}</span> -->
    </div>
  </div>
</header>

<div class="page" *ngIf="game.loaded">

  <nav class="game-menu" id="step10">
    <ul>
      <li ng-click="goGame()" ng-class="{ current: isActive('/game')}">{{"Game"|translate}}</li>
      <li ng-click="goMap()" ng-class="{ current: isActive('/map')}">
          <div class="pull-right new" *ngIf="game.zones.nextZone">NEW</div>
          {{"Map"|translate}}
      </li>
      <li ng-click="goShop()" ng-class="{ current: isActive('/shop')}">{{"Shop"|translate}}</li>
      <li ng-click="goEquip()" ng-class="{ current: isActive('/equip')}">{{"Equip"|translate}}</li>
      <li ng-click="goMateria()" ng-class="{ current: isActive('/materia')}">{{"Materia"|translate}}</li>
      <li ng-click="goItems()" ng-class="{ current: isActive('/items')}">{{"Items"|translate}}</li>
      <li ng-click="goConfig()" ng-class="{ current: isActive('/config')}">{{"Config"|translate}}</li>
      <li ng-click="goPHS()" ng-class="{ current: isActive('/phs'), disabled: game.zones.levelMax < 5}">
          {{"PHS"|translate}}
      </li>
      <li ng-click="goSave()" ng-class="{ current: isActive('/save')}">{{"Save"|translate}}</li>
    </ul>
  </nav>

  <div class="game-infos">
    <div class="pull-right">{{game.time}}</div>
    <div>{{"Time"|translate}}:</div>
    <div class="pull-right">{{game.gils}}</div>
    <div>{{"Gil"|translate}}:</div>
  </div>

  <div class="game-location" id="step11">
    {{'Zone '+game.zones.level+' name'|translate}}
    <strong>
      (#{{game.zones.level}})
    </strong>
  </div>

  <div class="game-view">
    <router-outlet></router-outlet>
  </div>

</div>

<footer ng-show="game.loaded">
  <div class="wrapper">
    <div>
      ©2014 <a href="http://menencia.com" target="_blank">menencia.com</a>, version <a
        href="https://github.com/Menencia/clickingff7/releases"
        target="_blank" id="step12">{{game.version}}</a>
    </div>
    <div>
      <a href="https://github.com/Menencia/clickingff7" target="_blank">Github</a> -
      <a href="https://github.com/Menencia/clickingff7/issues" target="_blank">Browse Issues</a> -
      <a href="https://github.com/Menencia/clickingff7/issues/new" target="_blank" id="step13">New Issue</a>
    </div>
  </div>
</footer>
