<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">clickingff7</a>
</nav>

<div class="container mt-3">
  <div class="row">
    <!-- not connected -->
    <div class="col-sm-2" *ngIf="!game.isConnected()">
      <ul class="list-group list-group-flush">
        <a routerLink="/home" routerLinkActive="active" class="list-group-item list-group-item-action">Home</a>
      </ul>
    </div>

    <!-- connected -->
    <div class="col-sm-2" *ngIf="game.isConnected()">
      <ul class="list-group list-group-flush">
        <a routerLink="/dashboard" routerLinkActive="active" class="list-group-item list-group-item-action">Dashboard</a>
        <a routerLink="/story" routerLinkActive="active" class="list-group-item list-group-item-action">Story</a>
        <a href="#" (click)="exitGame()" class="list-group-item list-group-item-action">Quit</a>
      </ul>
    </div>

    <!-- content -->
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
