<app-ui-layout-default>
  <div class="flex flex-col gap-5 sm:flex-row">
    <div class="basis-1/5">
      <div>{{ "Team" | translate }}</div>
      Niveau {{ team.level }}<br />
      HP: {{ team.hpMax }}<br />
      MP: {{ team.mpMax }}<br />
      Attaque: {{ team.attack }}<br />
      Défense: {{ team.defense }}<br />
      Force: {{ team.strengh }}<br />
      Vitalité: {{ team.vitality }}<br />
      Chance: {{ team.luck }}<br />
      Vitesse: {{ team.speed }}<br />
    </div>
    <div class="basis-2/5">
      <h3>{{ "Team" | translate }}</h3>

      @for (character of team.list; track $index) {
        <div class="phs_character">
          <img
            [src]="character.data.image"
            alt="character"
            width="80"
            class="float-left cursor-pointer"
            (click)="leaveTeam(character)"
            (keypress)="leaveTeam(character)"
            tabindex="0"
          />

          <div class="main">
            <div>
              {{ character.data.ref }}
            </div>
            <div><span class="label">pwr</span> {{ character.getHits() }}</div>
            @if (character.data.stats.hp) {
              <div><span class="label">HP</span> +{{ character.data.stats.hp }}%</div>
            }
            @if (character.data.stats.attack) {
              <div><span class="label">Attaque</span> +{{ character.data.stats.attack }}%</div>
            }
            @if (character.data.stats.defense) {
              <div><span class="label">Défense</span> +{{ character.data.stats.defense }}%</div>
            }
            @if (character.data.stats.speed) {
              <div><span class="label">Vitesse</span> +{{ character.data.stats.speed }}%</div>
            }
          </div>
          <div style="clear: left"></div>
        </div>
      }
    </div>

    <div class="basis-2/5">
      <h3>{{ "Backup" | translate }}</h3>

      @for (character of characters; track $index) {
        @if (!inTeam(character)) {
          <span class="phs_character">
            <img
              [src]="character.data.image"
              alt="character"
              width="80"
              class="float-left cursor-pointer"
              (click)="joinTeam(character)"
              (keypress)="joinTeam(character)"
              tabindex="0"
            />
          </span>
        }
      }
    </div>
  </div>
</app-ui-layout-default>
