<app-ui-layout-default>
  <div class="grid grid-cols-5 gap-x-4">
    <div>
      <div class="flex flex-col gap-1">
        @for (character of team; track character) {
        <button
          type="button"
          class="btn"
          [class.btn-secondary]="selected?.ref === character.ref"
          (click)="selectCharacter(character)"
        >
          {{ character.ref }}
        </button>
        }
      </div>
    </div>

    @if (selected) {
    <div class="col-span-2">
      <img
        [src]="selected.image"
        width="80"
        alt="current_character"
        class="float-left"
      >
      <div class="ml-24">
        <div>
          {{ selected.ref }} <strong>(LVL{{ selected.level }})</strong>
        </div>
        @if (selected.level > 0) {
        <div>
          <span class="label">hp</span> {{ selected.getHpMax() }}
          <span class="label">mp</span> {{ selected.getMpMax() }}
          <span class="label">pwr</span> {{ selected.getHits() }}
        </div>
        }
        <p class="mt-3">
          <app-weapon-icon [type]="selected.weapon.type"></app-weapon-icon>
          {{ selected.weapon.ref }}
        </p>
        <p class="ml-4 text-xs italic">
          {{ "Power" | translate }} {{ selected.weapon.hits }}<br>
          {{ "Nb materia" | translate }} +{{ selected.weapon.maxMaterias }}
        </p>
      </div>
    </div>
    } @if (selected) {
    <div class="col-span-2">
      <table style="width: 100%">
        <tr>
          <th>{{ "Name" | translate }}</th>
          <th></th>
        </tr>
        @for (weapon of weapons; track weapon) {
        <tr class="weapon">
          <td>{{ weapon.ref }}</td>
          <td>
            <button
              type="button"
              class="btn"
              (click)="equipWeapon(weapon)"
              [disabled]="!canEquipWeapon(weapon)"
            >
              {{ "Equip" | translate }}
            </button>
          </td>
        </tr>
        }
      </table>
    </div>
    }
  </div>
</app-ui-layout-default>
