<app-ui-layout-default>
  <div class="grid grid-cols-5 gap-x-4">
    <div>
      <div class="flex flex-col gap-1">
        @for (character of team.list; track $index) {
          <button
            class="btn"
            (click)="selectCharacter(character)"
            [class]="{ 'btn-primary': selected && selected.data.ref === character.data.ref }"
          >
            {{ character.data.ref }}
          </button>
        }
      </div>
    </div>

    <div class="col-span-2">
      <img [src]="selected.data.image" width="80" alt="current_character" class="float-left" />

      <div class="ml-24">
        <div>
          {{ selected.data.ref }}
        </div>
        <div><span class="label">pwr</span> {{ selected.getHits() }}</div>

        <p class="mt-3">
          <app-weapon-icon [type]="selected.weapon.data.type"></app-weapon-icon>
          {{ selected.weapon.data.ref }}
        </p>

        <p class="ml-4 text-xs italic">
          {{ "Power" | translate }} {{ selected.weapon.data.hits }}<br />
          {{ "Nb materia" | translate }} +{{ selected.weapon.data.maxMaterias }}
        </p>
      </div>
    </div>

    <div class="col-span-2">
      <table style="width: 100%">
        <tr>
          <th>{{ "Name" | translate }}</th>
          <th></th>
        </tr>
        @for (weapon of weapons; track $index) {
          <tr class="weapon">
            <td>{{ weapon.data.ref }}</td>
            <td>
              <button class="btn" (click)="equipWeapon(weapon)" [disabled]="!canEquipWeapon(weapon)">
                {{ "Equip" | translate }}
              </button>
            </td>
          </tr>
        }
      </table>
    </div>
  </div>
</app-ui-layout-default>
