<p-sidebar
  [(visible)]="visible"
  (visibleChange)="updateVisible()"
  styleClass="bg-gray-200 dark:bg-gray-800"
>
  <div class="flex flex-col">
    <a
      *ngFor="let navLink of navLinks"
      [routerLink]="navLink.link"
      routerLinkActive="active"
      class="py-2"
    >
      {{ navLink.ref | translate }}<span *ngIf="navLink.highlight">*</span>
    </a>
  </div>

  <ng-template pTemplate="header">
    <div class="text-red-400">ClikingFF7</div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="text-xs">
      <!-- todo -->
    </div>
  </ng-template>
</p-sidebar>
