<footer class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10">
    <nav>
      <h6 id="step12">Version {{ version }}</h6>
      <a class="hover:underline" href="https://github.com/Menencia/clickingff7/releases" target="_blank">Recent releases</a>
    </nav>
    <nav>
      <a class="hover:underline" href="https://github.com/Menencia/clickingff7" target="_blank">Github</a>
      <a class="hover:underline" href="https://github.com/Menencia/clickingff7/issues" target="_blank">Browse Issues</a>
      <a class="hover:underline" href="https://github.com/Menencia/clickingff7/issues/new" target="_blank" id="step13">New Issue</a>
    </nav>
</footer>
