<app-ui-layout-default>
  <div class="grid grid-cols-5 gap-x-4">
    <div>
      <div class="flex flex-col gap-1">
        <button type="button" class="btn" (click)="saveGame()">
          {{ "Save" | translate }}
        </button>

        <!-- <button
          type="button"
          [message]="msgImportSave"
          [disabled]="saves.length === 0"
          (click)="resetGame($event)"
        >
          {{ "Reset" | translate }}
        </button> -->
      </div>

      <div class="flex flex-col gap-1 mt-5">
        <button
          type="button"
          class="btn"
          (click)="exportLastSave()"
          [disabled]="saves.length === 0"
        >
          {{ "Export save" | translate }}
        </button>
        <button type="button" class="btn" (click)="exportCurrentGame()">
          {{ "Export game" | translate }}
        </button>
        <button type="button" class="btn" (click)="showImport()">
          {{ "Import" | translate }}
        </button>
      </div>
    </div>

    <div class="col-span-2">
      @if (saves.length === 0) {
      <div class="no-data">
        {{ "No saves" | translate }}
      </div>
      } @if (saves.length > 0) {
      <div>
        @for (character of saves[0].characters.list; track character) { @if
        (character.inTeam) {
        <img [src]="character.image" alt="" width="80" class="save_character">
        } }
        <br>
        {{ "Time" | translate }}: {{ saves[0].time | time }}
        <br>
        {{ "Gil" | translate }}: {{ saves[0].gils }}
      </div>
      }
    </div>

    <div class="col-span-2">
      @if (showAreaExport) {
      <div>
        <textarea [(ngModel)]="areaExport"></textarea>
      </div>
      } @if (showAreaImport) {
      <div>
        <textarea [(ngModel)]="areaImport"></textarea>
        <!-- <button
          type="button"
          [message]="msgImportSave"
          (confirm)="importSave($event)"
        >
          IMPORT
        </button> -->
      </div>
      }
    </div>
  </div>
</app-ui-layout-default>
