/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  padding: 0;
  color: #444;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #eee;
  font-family: 'Quicksand', sans-serif;
}

header {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 30px;
}

.page {
  width: 1000px;
  margin: auto;
  position: relative;
  padding: 20px;
  border: 1px solid #444;
  background-color: #fff;
  z-index: 1;
  min-height: 500px;
}

footer {
  text-align: center;
  color: #999;
  margin-bottom: 30px;
}

footer a, footer a:visited {
  text-decoration: none;
  color: #999;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

footer .current:before {
  content: '[';
}

footer .current:after {
  content: ']';
}

.help {
  position: absolute;
  font-weight: normal;
  font-size: 14px;
  margin-top: 11px;
  margin-left: 5px;
  color: #900;
}

.help:hover {
  cursor: pointer;
}

.link {
  font-weight: normal;
  font-size: 14px;
  color: #009;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* [style commun] */

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 5px;
}

nav li.disabled {
  color: #999;
}

nav li:not(.disabled):hover {
  background-color: #eee;
  cursor: pointer;
}

nav .current {
  font-weight: bold;
}

.menu-action {
  /* essential */
  text-overflow: ellipsis;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
}

.pull-right {
  float: right;
}

.button {
  padding: 5px;
  border: 1px solid #bbb;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  background-color: #eee;
}

.new {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  margin-top: 2px;
  background-color: #900;
  border-radius: 5px;
  padding: 2px;
}

.main {
  margin-left: 90px;
}

.no-data {
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  color: #999;
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
}

table th {
  text-align: left;
  text-transform: uppercase;
  height: 30px;
}

table tr:first-child {
  border-bottom: 1px solid #999;
}

table tr:not(:first-child):not(.nothing):hover {
  background-color: #eee;
}

table td {
  height: 30px;
}

table tr.materia td {
  padding-top: 10px;
}

table tr.item td {
  padding-top: 10px;
}

.nothing td {
  padding-top: 50px;
  text-align: center;
  font-size: 16px;
  color: #999;
  text-transform: uppercase;
}

/* description materia et objets */
.desc {
  font-size: 12px;
}

.hover {
  cursor: pointer;
}

.total {
  width: 50px;
  text-align: center;
}

.total .b {
  font-size: 12px;
  font-weight: bold;
}

/* style du menu principal */

.game-menu {
  position: absolute;
  top: -10px;
  right: -10px;
  border: 1px solid #444;
  z-index: 2;
  padding: 20px;
  background-color: #fff;
}

/* style de la zone de lieu */

.game-location {
  position: absolute;
  bottom: -10px;
  right: -10px;
  border: 1px solid #444;
  z-index: 2;
  padding: 20px;
  background-color: #fff;
}

.game-infos {
  position: absolute;
  width: 140px;
  bottom: 60px;
  right: -10px;
  border: 1px solid #444;
  z-index: 2;
  padding: 20px;
  background-color: #fff;
}

/* style pour la vue */

.game-view {
  padding: 0 160px;
}

/* style de la page /game */

.actions {
  position: absolute;
  width: 200px;
  top: -10px;
  left: -60px;
  z-index: 2;
}

.block {
  border: 1px solid #444;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 10px;
}

.no-padding {
  padding: 0;
}

.c1, .c3 {
  display: inline-block;
  width: 334px;
  vertical-align: top;
  box-sizing: content-box;
}

.c1 {
  margin-right: 5px;
  border-right: 1px solid #bbb;
}

.c3 {
  padding-left: 5px;
  border-left: 1px solid #bbb;
}

/* style pour le personnage */

.bars {
  height: 100px;
  position: relative;
}

.characters_hits, .enemies_hits {
  position: absolute;
  top: 0;
  right: 0;
}

.hit {
  width: 40px;
  text-align: center;
}

.hit_1 {
  font-size: 30px;
}

.hit_2 {
  font-size: 26px;
}

.hit_3 {
  font-size: 22px;
}

.hit_4 {
  font-size: 18px;
}

.hit_5 {
  font-size: 14px;
}

.card {
  margin-bottom: 10px;
  clear: left;
}

.card .avatar {
  float: left;
  margin-right: 5px;
}

.card .line {
  font-size: 12px;
  font-weight: bold;
  padding-top: 5px;
}

.card_enemy {
  position: relative;
}

.avatar_enemy {
  position: absolute;
  z-index: 0;
}

.main_enemy {
  position: absolute;
  left: 90px;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

/* style pour l'ennemi */

.no-enemies {
  text-align: center;
  font-size: 16px;
  color: #999;
}

/* SECTION materias */

.materia {
  padding: 10px;
  margin-bottom: 10px;
}

/* style pour les barres */

.bar-label {
  position: absolute;
  right: 0;
  color: #000;
}

.progress {
  position: relative;
  margin-top: 2px;
  text-align: center;
  font-size: 11px;
  color: #fff;
  height: 18px;
  margin-top: 5px;
  border-top: 1px solid #999;
}

.game_load {
  width: 300px;
  margin: auto;
}

.game_load_progress {
  background-color: #ccc;
  position: absolute;
  height: 9px;
  top: 0;
  left: 0;
}

.enemy_hp {
  width: 300px;
}

.enemy_hp_progress {
  background-color: #D49B9B;
  position: absolute;
  height: 18px;
  top: 0;
  left: 0;
}

.enemy_mp {
  width: 300px;
}

.enemy_mp_progress {
  background-color: #656565;
  position: absolute;
  height: 18px;
  top: 0;
  right: 0;
}

.characters_hp {
  width: 300px;
}

.characters_hp_progress {
  background-color: #BEECBE;
  position: absolute;
  height: 18px;
  top: 0;
  left: 0;
}

.characters_mp {
  width: 300px;
}

.characters_mp_progress {
  background-color: #C9DBF8;
  position: absolute;
  height: 18px;
  top: 0;
  left: 0;
}

.characters_limit {
  width: 300px;
}

.characters_limit_progress {
  background-color: #F0BE98;
  position: absolute;
  height: 9px;
  top: 0;
  left: 0;
}

.characters_xp {
  width: 200px;
}

.xp_progress {
  background-color: #C6B7D6;
  position: absolute;
  height: 9px;
  top: 0;
  left: 0;
}

.materia_ap {
  width: 200px;
}

.materia_ap_progress {
  background-color: #C6B7D6;
  position: absolute;
  height: 9px;
  top: 0;
  left: 0;
}

.xp_progress,
.ap_progress,
.enemy_hp_progress,
.enemy_mp_progress,
.characters_hp_progress,
.characters_mp_progress,
.characters_limit_progress {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.weakness, .resistance {
  width: 16px;
  margin-bottom: -3px;
}

/* phs section */

.phs_character img {
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid #fff;
}

.phs_character:hover img {
  border: 1px solid #000;
}

/* save section */

.save_character {
  margin-right: 5px;
}

textarea {
  width: 280px;
  height: 280px;
}
