<app-ui-layout-default>

  <div class="grid grid-cols-5 gap-x-4">

    <div>

      <div class="flex flex-col gap-1">
        <button class="button" [class.current]="type === 'weapons'" (click)="changeType('weapons')">
          {{"Weapons"|translate}}
        </button>
        <button class="button" [class.current]="type === 'materias'" (click)="changeType('materias')">
          {{"Materia"|translate}}
        </button>
        <button class="button" [class.current]="type === 'items'" (click)="changeType('items')">
          {{"Items"|translate}}
        </button>
      </div>

      <div class="flex flex-col gap-1 mt-5">
        <button class="button" [class.current]="section === 'buy'" (click)="changeSection('buy')">
          {{"Buy"|translate}}
        </button>
        <button class="button" [class.current]="section === 'sell'" (click)="changeSection('sell')">
          {{"Sell"|translate}}
        </button>
      </div>

      <div class="flex flex-col gap-1 mt-5 text-center italic">
        <p>Gils: {{getGils()}}</p>
      </div>

    </div>

    <div class="col-span-4">

      <section *ngIf="section === 'buy'">

        <table style="width: 100%">

          <tr>
            <th>{{"Name"|translate}}</th>
            <th>{{"In stock"|translate}}</th>
            <th>{{"Price"|translate}}</th>
            <th></th>
          </tr>

          <ng-container *ngIf="type === 'weapons'">
            <tr *ngFor="let weapon of shopWeapons">
              <td>
                <img class="icon" src="/assets/images/icons/weapons/{{weapon.type}}.png" alt="weapon" />
                {{weapon.name}}<br />
                <span class="desc">({{"Power"|translate}} {{weapon.hits}})</span>
              </td>
              <td>{{inStockWeapon(weapon)}}</td>
              <td>{{weapon.price}} {{"Gils"|translate}}</td>
              <td>
                <button class="button" (click)="buyWeapon(weapon)" [disabled]="!canBuyWeapon(weapon)">
                  {{"Buy"|translate}}
                </button>
              </td>
            </tr>
          </ng-container>

          <ng-container *ngIf="type === 'materias'">
            <tr *ngFor="let materia of shopMaterias" class="materia">
              <td>
                <img class="icon" src="/assets/images/icons/materias/{{materia.color}}.webp" alt="materia" />
                {{'Mat. '+materia.name+' name'|translate}}<br />
                <span class="desc">{{'Mat. '+materia.name+' desc'|translate}}</span>
              </td>
              <td *ngIf="materia.inStock(playerMaterias)">🗸</td>
              <td *ngIf="!materia.inStock(playerMaterias)"></td>
              <td>{{materia.price}} {{"Gils"|translate}}</td>
              <td>
                <button class="button" (click)="buyMateria(materia)" [disabled]="!canBuyMateria(materia)">
                  {{"Buy"|translate}}
                </button>
              </td>
            </tr>
          </ng-container>

          <ng-container *ngIf="type === 'items'">
            <tr *ngFor="let item of shopItems" class="item">
              <td>
                <img class="icon" src="/assets/images/icons/item.gif" alt="item" />
                {{'It. '+item.name+' name'|translate}}<br />
                <span class="desc">{{'It. '+item.name+' desc'|translate}}</span>
              </td>
              <td>{{inStockItem(item)}}</td>
              <td>{{item.price}} {{"Gils"|translate}}</td>
              <td>
                <button class="button" (click)="buyItem(item)" [disabled]="!canBuyItem(item)">
                  {{"Buy"|translate}}
                </button>
              </td>
            </tr>
          </ng-container>

        </table>

      </section>

      <section *ngIf="section === 'sell'">

        <table style="width: 100%">

          <tr>
            <th>{{"Name"|translate}}</th>
            <th>{{"In stock"|translate}}</th>
            <th>{{"Price"|translate}}</th>
            <th></th>
          </tr>

          <ng-container *ngIf="type === 'weapons'">
            <tr *ngFor="let weapon of playerWeapons">
              <td>
                <img class="icon" src="/assets/images/icons/weapons/{{weapon.type}}.png" alt="weapon" />
                {{weapon.name}}<br />
                <span class="desc">({{"Power"|translate}} {{weapon.hits}})</span>
              </td>
              <td>{{inStockWeapon(weapon)}}</td>
              <td>{{weapon.getSellPrice()}} {{"Gils"|translate}}</td>
              <td>
                <button class="button" (click)="sellWeapon(weapon)" [disabled]="!canSellWeapon(weapon)">
                  {{"Sell"|translate}}
                </button>
              </td>
            </tr>
          </ng-container>

          <ng-container *ngIf="type === 'materias'">
            <tr *ngFor="let materia of playerMaterias" class="materia">
              <td>
                <img class="icon" src="/assets/images/icons/materias/{{materia.color}}.webp" alt="materia" />
                {{'Mat. '+materia.name+' name'|translate}}<br />
                <span class="desc">{{'Mat. '+materia.name+' desc'|translate}}</span>
              </td>
              <td *ngIf="materia.inStock">🗸</td>
              <td *ngIf="!materia.inStock"></td>
              <td>{{materia.getSellPrice()}} {{"Gils"|translate}}</td>
              <td>
                <button class="button" (click)="sellMateria(materia)">
                  {{"Sell"|translate}}
                </button>
              </td>
            </tr>
          </ng-container>

          <ng-container *ngIf="type === 'items'">
            <tr *ngFor="let item of playerItems" class="item">
              <td>
                <img class="icon" src="/assets/images/icons/item.gif" alt="item" />
                {{'It. '+item.name+' name'|translate}}<br />
                <span class="desc">{{'It. '+item.name+' desc'|translate}}</span>
              </td>
              <td>{{inStockItem(item)}}</td>
              <td>{{item.getSellPrice()}} {{"Gils"|translate}}</td>
              <td>
                <button class="button" (click)="sellItem(item)">
                  {{"Sell"|translate}}
                </button>
              </td>
            </tr>
          </ng-container>

        </table>

      </section>

    </div>

  </div>

</app-ui-layout-default>
