<app-ui-layout-default>
  <div class="grid grid-cols-5 gap-x-4">
    <div>
      <div class="flex flex-col gap-1">
        <app-button [class]="{ current: type === 'weapons' }" (trigger)="changeType('weapons')">
          {{ "Weapons" | translate }}
        </app-button>
        <app-button [class]="{ current: type === 'materias' }" (trigger)="changeType('materias')">
          {{ "Materia" | translate }}
        </app-button>
        <app-button [class]="{ current: type === 'items' }" (trigger)="changeType('items')">
          {{ "Items" | translate }}
        </app-button>
      </div>

      <div class="flex flex-col gap-1 mt-5">
        <app-button [class]="{ current: section === 'buy' }" (trigger)="changeSection('buy')">
          {{ "Buy" | translate }}
        </app-button>
        <app-button [class]="{ current: section === 'sell' }" (trigger)="changeSection('sell')">
          {{ "Sell" | translate }}
        </app-button>
      </div>

      <div class="flex flex-col gap-1 mt-5 italic text-center">
        <p>Gils: {{ getGils() }}</p>
      </div>
    </div>

    <div class="col-span-4">
      @if (section === "buy") {
        <table style="width: 100%">
          <tr>
            <th>{{ "Name" | translate }}</th>
            <th>{{ "In stock" | translate }}</th>
            <th>{{ "Price" | translate }}</th>
            <th></th>
          </tr>

          @if (type === "weapons") {
            @for (weapon of shopWeapons; track $index) {
              <tr>
                <td>
                  <app-weapon-icon [type]="weapon.data.type"></app-weapon-icon>
                  {{ weapon.data.ref }}<br />
                  <span class="text-xs italic">({{ "Power" | translate }} {{ weapon.data.hits }})</span>
                </td>
                <td>{{ inStockWeapon(weapon) }}</td>
                <td>{{ weapon.data.price }} {{ "Gils" | translate }}</td>
                <td>
                  <app-button (trigger)="buyWeapon(weapon)" [disabled]="!canBuyWeapon(weapon)">
                    {{ "Buy" | translate }}
                  </app-button>
                </td>
              </tr>
            }
          }

          @if (type === "materias") {
            @for (materia of shopMaterias; track $index) {
              <tr class="materia">
                <td>
                  <app-materia-icon [color]="materia.data.color"></app-materia-icon>
                  {{ "Mat. " + materia.data.ref + " name" | translate }}<br />
                  <span class="text-xs italic">{{ "Mat. " + materia.data.ref + " desc" | translate }}</span>
                </td>
                <td>
                  @if (materia.inStock(playerMaterias)) {
                    🗸
                  }
                </td>
                <td>{{ materia.data.price }} {{ "Gils" | translate }}</td>
                <td>
                  <app-button (trigger)="buyMateria(materia)" [disabled]="!canBuyMateria(materia)">
                    {{ "Buy" | translate }}
                  </app-button>
                </td>
              </tr>
            }
          }

          @if (type === "items") {
            @for (item of shopItems; track $index) {
              <tr class="item">
                <td>
                  <app-item-icon></app-item-icon>
                  {{ "It. " + item.ref + " name" | translate }}<br />
                  <span class="text-xs italic">{{ "It. " + item.ref + " desc" | translate }}</span>
                </td>
                <td>{{ inStockItem(item) }}</td>
                <td>{{ item.price }} {{ "Gils" | translate }}</td>
                <td>
                  <app-button (trigger)="buyItem(item)" [disabled]="!canBuyItem(item)">
                    {{ "Buy" | translate }}
                  </app-button>
                </td>
              </tr>
            }
          }
        </table>
      }

      @if (section === "sell") {
        <table style="width: 100%">
          <tr>
            <th>{{ "Name" | translate }}</th>
            <th>{{ "In stock" | translate }}</th>
            <th>{{ "Price" | translate }}</th>
            <th></th>
          </tr>

          @if (type === "weapons") {
            @for (weapon of playerWeapons; track $index) {
              <tr>
                <td>
                  <app-weapon-icon [type]="weapon.data.type"></app-weapon-icon>
                  {{ weapon.data.ref }}<br />
                  <span class="text-xs italic">({{ "Power" | translate }} {{ weapon.data.hits }})</span>
                </td>
                <td>{{ inStockWeapon(weapon) }}</td>
                <td>{{ weapon.getSellPrice() }} {{ "Gils" | translate }}</td>
                <td>
                  <app-button (trigger)="sellWeapon(weapon)" [disabled]="!canSellWeapon(weapon)">
                    {{ "Sell" | translate }}
                  </app-button>
                </td>
              </tr>
            }
          }

          @if (type === "materias") {
            @for (materia of playerMaterias; track $index) {
              <tr class="materia">
                <td>
                  <app-materia-icon [color]="materia.data.color"></app-materia-icon>
                  {{ "Mat. " + materia.data.ref + " name" | translate }}<br />
                  <span class="text-xs italic">{{ "Mat. " + materia.data.ref + " desc" | translate }}</span>
                </td>
                <td>🗸</td>
                <td>{{ materia.getSellPrice() }} {{ "Gils" | translate }}</td>
                <td>
                  <app-button (trigger)="sellMateria(materia)">
                    {{ "Sell" | translate }}
                  </app-button>
                </td>
              </tr>
            }
          }

          @if (type === "items") {
            @for (item of playerItems; track $index) {
              <tr class="item">
                <td>
                  <app-item-icon></app-item-icon>
                  {{ "It. " + item.ref + " name" | translate }}<br />
                  <span class="text-xs italic">{{ "It. " + item.ref + " desc" | translate }}</span>
                </td>
                <td>{{ inStockItem(item) }}</td>
                <td>{{ item.getSellPrice() }} {{ "Gils" | translate }}</td>
                <td>
                  <app-button (trigger)="sellItem(item)">
                    {{ "Sell" | translate }}
                  </app-button>
                </td>
              </tr>
            }
          }
        </table>
      }
    </div>
  </div>
</app-ui-layout-default>
