<app-ui-layout-default>
  <div class="grid grid-cols-5 gap-x-4">
    <div>
      <div class="flex flex-col gap-1">
        <button
          type="button"
          class="btn"
          [class.btn-secondary]="type === 'weapons'"
          (click)="changeType('weapons')"
        >
          {{ "Weapons" | translate }}
        </button>
        <button
          type="button"
          class="btn"
          [class.btn-secondary]="type === 'materias'"
          (click)="changeType('materias')"
        >
          {{ "Materia" | translate }}
        </button>
        <button
          type="button"
          class="btn"
          [class.btn-secondary]="type === 'items'"
          (click)="changeType('items')"
        >
          {{ "Items" | translate }}
        </button>
      </div>

      <div class="flex flex-col gap-1 mt-5">
        <button
          type="button"
          class="btn"
          [class.btn-secondary]="section === 'buy'"
          (click)="changeSection('buy')"
        >
          {{ "Buy" | translate }}
        </button>
        <button
          type="button"
          class="btn"
          [class.btn-secondary]="section === 'sell'"
          (click)="changeSection('sell')"
        >
          {{ "Sell" | translate }}
        </button>
      </div>

      <div class="flex flex-col gap-1 mt-5 italic text-center">
        <p>Gils: {{ getGils() }}</p>
      </div>
    </div>

    <div class="col-span-4">
      @if (section === 'buy') {
      <section>
        <table style="width: 100%">
          <tr>
            <th>{{ "Name" | translate }}</th>
            <th>{{ "In stock" | translate }}</th>
            <th>{{ "Price" | translate }}</th>
            <th></th>
          </tr>
          @if (type === 'weapons') { @for (weapon of shopWeapons; track weapon)
          {
          <tr>
            <td>
              <app-weapon-icon [type]="weapon.type"></app-weapon-icon>
              {{ weapon.ref }}<br>
              <span class="text-xs italic"
                >({{ "Power" | translate }} {{ weapon.hits }})</span
              >
            </td>
            <td>{{ inStockWeapon(weapon) }}</td>
            <td>{{ weapon.price }} {{ "Gils" | translate }}</td>
            <td>
              <button
                type="button"
                class="btn"
                (click)="buyWeapon(weapon)"
                [disabled]="!canBuyWeapon(weapon)"
              >
                {{ "Buy" | translate }}
              </button>
            </td>
          </tr>
          } } @if (type === 'materias') { @for (materia of shopMaterias; track
          materia) {
          <tr class="materia">
            <td>
              <app-materia-icon [color]="materia.color"></app-materia-icon>
              {{ "Mat. " + materia.ref + " name" | translate }}<br>
              <span class="text-xs italic">{{
                "Mat. " + materia.ref + " desc" | translate
              }}</span>
            </td>
            @if (materia.inStock(playerMaterias)) {
            <td>🗸</td>
            } @if (!materia.inStock(playerMaterias)) {
            <td></td>
            }
            <td>{{ materia.price }} {{ "Gils" | translate }}</td>
            <td>
              <button
                type="button"
                class="btn"
                (click)="buyMateria(materia)"
                [disabled]="!canBuyMateria(materia)"
              >
                {{ "Buy" | translate }}
              </button>
            </td>
          </tr>
          } } @if (type === 'items') { @for (item of shopItems; track item) {
          <tr class="item">
            <td>
              <app-item-icon></app-item-icon>
              {{ "It. " + item.ref + " name" | translate }}<br>
              <span class="text-xs italic">{{
                "It. " + item.ref + " desc" | translate
              }}</span>
            </td>
            <td>{{ inStockItem(item) }}</td>
            <td>{{ item.price }} {{ "Gils" | translate }}</td>
            <td>
              <button
                type="button"
                class="btn"
                (click)="buyItem(item)"
                [disabled]="!canBuyItem(item)"
              >
                {{ "Buy" | translate }}
              </button>
            </td>
          </tr>
          } }
        </table>
      </section>
      } @if (section === 'sell') {
      <section>
        <table style="width: 100%">
          <tr>
            <th>{{ "Name" | translate }}</th>
            <th>{{ "In stock" | translate }}</th>
            <th>{{ "Price" | translate }}</th>
            <th></th>
          </tr>
          @if (type === 'weapons') { @for (weapon of playerWeapons; track
          weapon) {
          <tr>
            <td>
              <app-weapon-icon [type]="weapon.type"></app-weapon-icon>
              {{ weapon.ref }}<br>
              <span class="text-xs italic"
                >({{ "Power" | translate }} {{ weapon.hits }})</span
              >
            </td>
            <td>{{ inStockWeapon(weapon) }}</td>
            <td>{{ weapon.getSellPrice() }} {{ "Gils" | translate }}</td>
            <td>
              <button
                type="button"
                class="btn"
                (click)="sellWeapon(weapon)"
                [disabled]="!canSellWeapon(weapon)"
              >
                {{ "Sell" | translate }}
              </button>
            </td>
          </tr>
          } } @if (type === 'materias') { @for (materia of playerMaterias; track
          materia) {
          <tr class="materia">
            <td>
              <app-materia-icon [color]="materia.color"></app-materia-icon>
              {{ "Mat. " + materia.ref + " name" | translate }}<br>
              <span class="text-xs italic">{{
                "Mat. " + materia.ref + " desc" | translate
              }}</span>
            </td>
            @if (materia.inStock([])) {
            <td>🗸</td>
            } @if (!materia.inStock([])) {
            <td></td>
            }
            <td>{{ materia.getSellPrice() }} {{ "Gils" | translate }}</td>
            <td>
              <button type="button" class="btn" (click)="sellMateria(materia)">
                {{ "Sell" | translate }}
              </button>
            </td>
          </tr>
          } } @if (type === 'items') { @for (item of playerItems; track item) {
          <tr class="item">
            <td>
              <app-item-icon></app-item-icon>
              {{ "It. " + item.ref + " name" | translate }}<br>
              <span class="text-xs italic">{{
                "It. " + item.ref + " desc" | translate
              }}</span>
            </td>
            <td>{{ inStockItem(item) }}</td>
            <td>{{ item.getSellPrice() }} {{ "Gils" | translate }}</td>
            <td>
              <button type="button" class="btn" (click)="sellItem(item)">
                {{ "Sell" | translate }}
              </button>
            </td>
          </tr>
          } }
        </table>
      </section>
      }
    </div>
  </div>
</app-ui-layout-default>
