<div class="flex flex-row flex-wrap gap-1 sm:flex-col">
  <app-button (trigger)="fightRandom()" [disabled]="isBattle()" [id]="'step6'">
    {{ "Fight random" | translate }}{{ remainingBattles() }}
  </app-button>
  <app-button (trigger)="fightBoss()" [disabled]="!canFightBoss()">
    <div class="float-right text-red-700" *ngIf="canFightBoss()">NEW</div>
    {{ "Fight boss" | translate }}
  </app-button>
  <app-button (trigger)="attack()" [disabled]="!isBattle()" [id]="'step7'">
    <span *ngIf="!canLimit()">{{ "Attack" | translate }}</span>
    <span *ngIf="canLimit()">{{ "Limit" | translate }}</span>
  </app-button>
  <app-button (trigger)="escape()" [disabled]="!isBattle()" [id]="'step8'">
    {{ "Escape" | translate }}
  </app-button>

  <div class="h-3"></div>

  <div [id]="'step9'" class="contents">
    <app-button
      [class]="'flex flex-row items-center'"
      *ngFor="let materia of getMaterias()"
      (trigger)="useMateria(materia)"
      [disabled]="!canUseMateria(materia)"
    >
      <img
        class="flex-none"
        src="/assets/images/icons/materias/{{ materia.color }}.webp"
        alt="materia"
      />
      <div class="flex-grow">
        {{ "Mat. " + materia.ref + " name" | translate }}
      </div>
      <span class="flex-none">{{ materia.getMpCost() }}</span>
    </app-button>
  </div>

  <div *ngIf="getItems().length > 0" [id]="'step10'" class="contents">
    <div class="h-3"></div>

    <app-button
      class="flex flex-row items-center button"
      *ngFor="let item of getItems()"
      (trigger)="useItem(item)"
      [disabled]="!canUseItem(item)"
    >
      <div class="flex-grow">
        {{ "It. " + item.ref + " name" | translate }}
      </div>
      <div class="flex-none">{{ item.nbr }}</div>
    </app-button>
  </div>

  <div class="h-3"></div>

  <div>{{ "Gil" | translate }}: {{ getGils() }}</div>
  <div class="game-location" id="step11">
    {{ "Zone " + getZoneLvl() + " name" | translate }}
    <strong> (#{{ getZoneLvl() }}) </strong>
  </div>
</div>
