<div>
  <div class="flex flex-col gap-1 mb-5 text-center" *ngIf="isBattle()">
    <ng-container *ngIf="isPlayerTurn()">MY TURN</ng-container>
    <ng-container *ngIf="!isPlayerTurn()">ENEMY TURN</ng-container>
  </div>

  <div class="flex flex-col gap-1">
    <button class="button"
            (click)="fightRandom()"
            *ngIf="!isBattle()"
            id="step6">
      {{"Fight random"|translate}}
    </button>
    <button class="button"
            (click)="fightBoss()"
            *ngIf="canFightBoss()">
      <div class="float-right text-red-700" *ngIf="canFightBoss()">NEW</div>
      {{"Fight boss"|translate}}
    </button>
    <button class="button" (click)="attack()"
            [class.limit]="canLimit()"
            *ngIf="isBattle()"
            [disabled]="actionDisabled()"
            id="step7">
      <span *ngIf="!canLimit()">{{"Attack"|translate}}</span>
      <span *ngIf="canLimit()">{{"Limit"|translate}}</span>
    </button>
  </div>

  <div class="flex flex-col gap-1 mt-5" id="step9" *ngIf="isBattle()">
    <button class="button flex flex-row items-center"
            *ngFor="let materia of getMaterias()"
            (click)="useMateria(materia)"
            [disabled]="actionDisabled() || !canUseMateria(materia)">
      <img class="flex-none" src="/assets/images/icons/materias/{{materia.color}}.webp" />
      <div class="flex-grow">
        {{'Mat. '+materia.name+' name'|translate}}
      </div>
      <span class="flex-none">{{materia.getMpCost()}}</span>
    </button>
  </div>

  <div class="flex flex-col mt-5" *ngIf="isBattle() && getItems().length > 0" id="step10">
    <button class="button flex flex-row items-center"
            *ngFor="let item of getItems()"
            (click)="useItem(item)"
            [disabled]="actionDisabled() || !canUseItem(item)">
      <div class="flex-grow">{{'It. '+item.name+' name'|translate}}</div>
      <div class="flex-none">{{item.nbr}}</div>
    </button>
  </div>

  <div class="flex flex-col mt-5">
    <button
      class="button"
      (click)="escape()"
      *ngIf="isBattle()"
      [disabled]="actionDisabled()"
      id="step8">
      {{"Escape"|translate}}
    </button>
  </div>

  <div class="flex flex-col mt-5 text-center italic">
    <!-- <p>{{"Time"|translate}}: {{getGils()}}</p> -->
    <p>{{"Gil"|translate}}: {{getGils()}}</p>
    <div class="game-location" id="step11">
      {{'Zone '+ getZoneLvl() +' name'|translate}}
      <strong>
        (#{{getZoneLvl()}})
      </strong>
    </div>
  </div>

</div>
